<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            background-color: green;
        }
    </style>
</head>
<body>
    <h1>Home Index Default</h1>
    <h3>P129</h3>
    <ul>
        <li>@ViewData["Name"]</li>
        <li>@ViewBag.Name</li>
        <li>@ViewBag.SurName</li>
        <li>@ViewData["SurName"]</li>
        <li>@TempData["Grade"]</li>
        <li>Idris</li>
        <li>Alyasar</li>
        <li>Elgiz</li>
        <li>Hamid</li>
    </ul>
</body>
</html>